*{

  text-align: center


}
h1 {

   margin-top: 50px;
   font-family: Papyrus, fantasy;
   font-size: 24px;
    font-style: normal;
     font-variant: normal;
      font-weight: 700;
       line-height: 26.4px;

}
 h2 {

    margin-top: 50px;
font-family: Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace;
        }

 p {

    margin-top: 50px;
    font-family: Papyrus, fantasy;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
     font-weight: 400;
     line-height: 20px;
      }

 blockquote {

    margin-top: 50px;
   font-family: Papyrus, fantasy;
    font-size: 21px;
    font-style: normal;
     font-variant: normal;
      font-weight: 400;
      line-height: 30px;
     }
  pre {

     margin-top: 50px;
     font-family: Papyrus, fantasy;
      font-size: 13px;
      font-style: normal;
       font-variant: normal;
       font-weight: 400;
        line-height: 18.5714px;
       }
