{% extends 'porfolio/base.html' %}


{% block 'content'%}
    {%  load static  %}

    <h1 class="text-center">thomas's page</h1>

    <br>
    <br>


    <img width="1000" src="{%  static 'porfolio/download (1).jfif'  %}" alt="pic of zues his ballsss...">

    <br>
    <br>

    {% for i in projects  %}
    <h1 class="title-Home">{{  i.title   }}</h1>

    <br>
    <br>
    <h2>{{  i.desc  }}</h2>
    <image class="foto" src='{{ i.image.url }}'>

      <br>
      <br>
    {%  if i.url %}
    <br> <a href="{{ i.url }}">shrek time.</a>

    <br>
    <br>
    {% endif %}
    {%  endfor  %}


 {%  endblock %}
